// COLORS

$color-primary: #35b8be;
$color-primary-dark: #1b9097;

$color-grey-light-1: #f5fbfc;
$color-grey-light-2: #d1cdcd;

$color-grey-dark-1: #617283;
$color-grey-dark-2: #546285;

$color-blue-dark: #28224b;

$color-white: #fff;
$color-black: #08090a;

$bp-medium: 56.25em; // 900px
$bp-small: 29.5em; // 472px
