.header {
  position: fixed;
  background-color: $color-white;
  z-index: 20;
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  opacity: 0.95;
}

.logo {
  grid-column: center-start / col-end 1;
  &__img {
    height: 5rem;
  }
}

.main-nav {
  grid-column: col-start 2 / center-end;

  &__list {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 5rem;
  }

  &__link:link,
  &__link:visited {
    font-size: 1.5rem;
    text-decoration: none;
    color: $color-blue-dark;
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    color: $color-primary;
  }
}

// MOBILE
.mobile-nav-btn {
  display: none;
  position: relative;
  top: 0.5rem;
  grid-column: col-start 8 / center-end;
  justify-self: end;
  z-index: 1000;

  border: none;
  background: transparent;

  &__icon {
    &,
    &::before,
    &::after {
      display: inline-block;
      width: 3rem;
      height: 2px;

      transition: all 0.2s;

      background-color: $color-black;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: -1rem;
    }

    &::after {
      top: 0.2rem;
    }
  }
}

@media only screen and (max-width: $bp-medium) {
  .header {
    padding: 0 3rem;
  }
  .mobile-nav-btn {
    display: block;
  }

  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0.9;
    transform: translateX(100%);
    transition: all 0.3s;
    background-color: $color-white;

    &__list {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    &__link:link,
    &__link:visited {
      font-size: 2.5rem;
    }
  }

  .header.nav-open .main-nav {
    transform: translateX(0);
  }
}
