.header {
  position: fixed;
  background-color: $color-white;
  z-index: 20;
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  opacity: 0.95;

  @media only screen and (max-width: $bp-medium) {
    padding: 0 3rem;
  }
}

.logo {
  grid-column: center-start / col-end 1;
  &__img {
    height: 5rem;
  }
}
