.composition-big {
  position: relative;
  height: MIN(80vh, 100rem);
  aspect-ratio: 0.6;

  @media only screen and (max-width: $bp-medium) {
    width: 100%;
    height: 50vw;
  }

  &__img-primary {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  &__img-left {
    position: absolute;
    left: 0;

    transform: translateX(-50%);
    // use css min instead of sass to compare units
    height: MIN(7rem, 20%);
    aspect-ratio: 1;
    padding: 1.5rem;
    border-radius: 20%;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.2);

    background-image: url(../img/pattern-wave.svg),
      linear-gradient(rgba($color-primary, 1), rgba($color-primary, 1));
    background-size: 170%;
    background-position: bottom 20% right 0%;
    background-repeat: no-repeat;
    fill: $color-white;

    &--top {
      top: 15%;
    }

    &--bottom {
      bottom: 15%;
    }
  }

  &__img-right {
    position: absolute;
    display: block;
    right: 0;
    transform: translateX(50%);
    height: MIN(12rem, 30%);
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 20%;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.2);

    &--top {
      top: 25%;
    }

    &--bottom {
      bottom: 15%;
    }
  }
}
